<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>University Wordle</title>
        <style>

            * {

                background-image: url('res/background1.png');

            }

            body .div {

                display: flex;

            }

            .start-info {

                position: absolute;
                top: 30vh;
                text-align: center;
                left: 35vw;
            }
        </style>

        <script src="./home.js" defer></script>
        
    </head>

    <body>

        <div class="start-info">

            <h1>Welcome To University Wordle</h1>

            <h3>To get started register or login below</h3>

            <button id="login">Login</button>
            <button id="register">Register</button>
        </div>
        
        
    </body>
</html>