<!DOCTYPE html>

<html>

    <head>

        <title>University Wordle</title>
        <link href="style.css" rel="stylesheet">
        <script src="index.js"></script>

    </head>

    <body>

        <h1 id="title">Welcome to University Wordle</h1>

        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guess away!</h3>

        <div class="wordle-grid">

            <div class="row1" id="not-included-1">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>

            </div>

            <div class="row2" id="not-included-2">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>

            <div class="row3" id="not-included-3">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>

            </div>

            <div class="row4" id="not-included-4">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>

            <div class="row5" id="not-included-5">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>

            <div id="success-screen">
                
                <h3 id="success-message">Congrats on getting the word right!</h3>
                <h3 id="current-streak"></h3>
                <h3 id="current-win-rate-success"></h3>
                <button class="play-again">Play Again</button>
                
            </div>

            <div id="failure-screen">

                <h3 id="failure-message"></h3>
                <h3 id="previous-streak">Your streak is now zero</h3>
                <h3 id="current-win-rate-failure"></h3>
                <button class="play-again">Play Again</button>

            </div>


        </div>

    </body>
</html>