<!DOCTYPE html>

<html>

    <head>

        <title>University Wordle</title>
        <link href="style.css" rel="stylesheet">
        <script src="index.js"></script>

    </head>

    <body>

        <h1 id="title">Welcome to University Wordle</h1>

        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guess away!</h3>

        <div class="wordle-grid">

            <div class="row1" id="not-included-1">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>

            </div>

            <div class="row2" id="not-included-2">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>

            <div class="row3" id="not-included-3">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>

            </div>

            <div class="row4" id="not-included-4">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>

            <div class="row5" id="not-included-5">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>

            <div id="success-screen">
                
                <h3 id="success-message">Congrats on getting the word right!</h3>
                <h3 id="current-streak"></h3>
                <h3 id="current-win-rate-success"></h3>
                <button class="play-again">Play Again</button>
                <button class="view-leaderboard">View Leaderboard</button>
            </div>

            <div id="failure-screen">

                <h3 id="failure-message"></h3>
                <h3 id="previous-streak">Your streak is now zero</h3>
                <h3 id="current-win-rate-failure"></h3>
                <button class="play-again">Play Again</button>
                <button class="view-leaderboard">View Leaderboard</button>

            </div>

            <div id="leaderboard">

                <p id="streak-info"></p>
                <p id="leaderboard-headers"></p>

                <div class="leaderboard-slot" id="slot-one">

                    <div class="user" id="slot-one-user"></div>
                    <div class="score" id="slot-one-score"></div>
                </div>

                <div class="leaderboard-slot" id="slot-two">
                    
                    
                    <div class="user" id="slot-two-user"></div>
                    <div class="score" id="slot-two-score"></div>
                </div>

                <div class="leaderboard-slot" id="slot-three">
                    
                    <div class="user" id="slot-three-user"></div>
                    <div class="score" id="slot-three-score"></div>

                </div>

                <div class="leaderboard-slot" id="slot-four">

                    <div class="user" id="slot-four-user"></div>
                    <div class="score" id="slot-four-score"></div>
                    
                </div>

                <div class="leaderboard-slot" id="slot-five">

                    <div class="user" id="slot-five-user"></div>
                    <div class="score" id="slot-five-score"></div>
                    
                </div>

                <div class="leaderboard-slot" id="slot-six">
 
                    <div class="user" id="slot-six-user"></div>
                    <div class="score" id="slot-six-score"></div>
                    
                </div>

                <div class="leaderboard-slot" id="slot-seven">

                    <div class="user" id="slot-seven-user"></div>
                    <div class="score" id="slot-seven-score"></div>
                    
                </div>

                <div class="leaderboard-slot" id="slot-eight">
                                       
                    <div class="user" id="slot-eight-user"></div>
                    <div class="score" id="slot-eight-score"></div>

                </div>

                <div class="leaderboard-slot" id="slot-nine">
                    
                    <div class="user" id="slot-nine-user"></div>
                    <div class="score" id="slot-nine-score"></div>

                </div>

                <div class="leaderboard-slot" id="slot-ten">
                    
                    <div class="user" id="slot-ten-user"></div>
                    <div class="score" id="slot-ten-score"></div>

                </div>

            </div>


        </div>

    </body>
</html>