<!DOCTYPE html>

<html>

    <head>

        <title>University Wordle</title>
        <link href="style.css" rel="stylesheet">
        <script src="index.js"></script>

    </head>

    <body>

        <h1 id="title">Welcome to University Wordle</h1>

        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guess away!</h3>

        <div class="wordle-grid">

            <div class="row1" id="not-included-1">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>

            </div>

            <div class="row2" id="not-included-2">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>

            <div class="row3" id="not-included-3">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>

            </div>

            <div class="row4" id="not-included-4">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>

            <div class="row5" id="not-included-5">

                <div class="column1"></div>
                <div class="column2"></div>
                <div class="column3"></div>
                <div class="column4"></div>
                <div class="column5"></div>
                
            </div>


        </div>

    </body>
</html>